body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form{
    display: flex;
    justify-content: space-between;
}

button,
input{
    font: inherit;
}

input{
    flex: 1;
    margin-right: 1em;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}

input:focus{
    border:none;
    outline: black 1px solid;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #2ecc71;
    color: #ecf0f1;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: .3s;
}

button:hover, button:focus {
    background-color: #27ae60;
}

ul{
    padding: 0;
}
li{
    list-style-type: none;
    border: 1px solid black;
    background: oldlace;
    padding: 1em;
    display: flex;
    align-items: center;
}

li.done{
    opacity: 0.5;
}
span.fa + span{
    flex: 1;
    margin: 0 1em;
}

span.fa-check-square-o + span{
    text-decoration: line-through;
}

.fa-check-square-o {
    color: #2ecc71;
}

.fa-times{
    color: #e74c3c;
}